[Unit]
Description=redirector service
After=network.target

[Service]
ExecStart=systemd-nspawn -i /var/lib/machines/redirector.squashfs --chdir / /usr/sbin/php-fpm83 -F
Restart=on-failure

[Install]
WantedBy=multi-user.target
