* {
    all: unset;
}

:root {
    --b03: #002d38;
    --b02: #093946;
    --b01: #5b7279;
    --b00: #657377;
    --b0: #98a8a8;
    --b1: #9faaab;
    --b2: #f1e9d2;
    --b3: #fbf7ef;
    --yellow: #ac8300;
    --orange: #d56500;
    --red: #f23749;
    --magenta: #dd459d;
    --violet: #7d80d1;
    --blue: #2b90d8;
    --cyan: #259d94;
    --green: #819500;
}

@media screen and (prefers-color-scheme: light) {
    :root {
        --s03: var(--b03);
        --s02: var(--b02);
        --s01: var(--b01);
        --s00: var(--b00);
        --s0: var(--b0);
        --s1: var(--b1);
        --s2: var(--b2);
        --s3: var(--b3);
    }
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --s03: var(--b3);
        --s02: var(--b2);
        --s01: var(--b1);
        --s00: var(--b0);
        --s0: var(--b00);
        --s1: var(--b01);
        --s2: var(--b02);
        --s3: var(--b03);
    }
}

head {
    display: none;
}

table {
    display: table;
}

tr {
    display: table-row;
}

td,
th {
    display: table-cell;
}

html {
    font-family: monospace;
    font-size: 16px;
    display: block;
    line-height: 1.5rem;
    color: var(--s00);
    background-color: var(--s2);
}

body {
    display: block;
    max-width: 50rem;
    margin: auto;
    padding: 1rem;
}

h1 {
    display: block;
    padding-bottom: 1rem;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:focus {
    font-weight: bold;
}

td + td,
th + th {
    padding-left: 1rem;
}

th {
    color: var(--s00);
}

button.add {
    font-weight: bold;
    color: var(--blue);
}

button.delete {
    font-weight: bold;
    color: var(--red);
}

button:focus,
button:hover {
    text-decoration: underline;
}

input[type="text"] {
    background-color: var(--s2);
    border-bottom: 1px solid var(--s1);
}

input[type="text"]:focus {
    background-color: var(--s3);
}
